# Importar bibliotecas

In [1]:
import math
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from feature_engine.datasets import load_titanic
from feature_engine.encoding import OneHotEncoder

# Ler o arquivo

In [2]:
from base import *

glass_list = loadData('glass.csv') #Recebo os dados do arquivo csv
glass_list

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

# Converter os rotulos

In [3]:
D_glass = pd.DataFrame(glass_list.Type)
# Cria o OneHotEncoder e ajusta aos rÃ³tulos
ohe = OneHotEncoder(
    top_categories=6,
    variables=['Type'],
    ignore_format=True,
    )
D_glass = ohe.fit_transform(D_glass)
D_glass = D_glass[sorted(D_glass.columns)]
n = len(D_glass.columns)

D_glass

     Type_1  Type_2  Type_3  Type_5  Type_6  Type_7
0         1       0       0       0       0       0
1         1       0       0       0       0       0
2         1       0       0       0       0       0
3         1       0       0       0       0       0
4         1       0       0       0       0       0
..      ...     ...     ...     ...     ...     ...
209       0       0       0       0       0       1
210       0       0       0       0       0       1
211       0       0       0       0       0       1
212       0       0       0       0       0       1
213       0       0       0       0       0       1

[214 rows x 6 columns]

In [4]:

#Ordeno as colunas convertidas para tranasformar o dataframe em array
D_glass = D_glass[sorted(D_glass.columns)].__array__()
D_glass

array([[1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       ...,
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1]])

# Transpor a entrada

In [5]:
glass_list = glass_list.drop('Type', axis=1) #Transponho a matriz de dados para deixar no formato de entrada coluna
X = glass_list.__array__().T

X

array([[ 1.52101,  1.51761,  1.51618, ...,  1.52065,  1.51651,  1.51711],
       [13.64   , 13.89   , 13.53   , ..., 14.36   , 14.38   , 14.23   ],
       [ 4.49   ,  3.6    ,  3.55   , ...,  0.     ,  0.     ,  0.     ],
       ...,
       [ 8.75   ,  7.83   ,  7.78   , ...,  8.44   ,  8.48   ,  8.62   ],
       [ 0.     ,  0.     ,  0.     , ...,  1.64   ,  1.57   ,  1.67   ],
       [ 0.     ,  0.     ,  0.     , ...,  0.     ,  0.     ,  0.     ]])

# Criar o Perceptron

### Teste unitario

In [6]:
p = Perceptron(4, 0.1, [[0, 0, 1, 1], [0, 1, 0, 1]], [0, 1, 1, 1], 1)
p.start_training()
p.start_test([[0, 0, 1, 1], [1, 0, 1, 0]], [[1, 0, 1, 1]])

[array([0.1, 0.1])]
Acuracia: 100.0%

### Treinamento

In [10]:
alpha = 0.1  # fator de apredizagem
max_it = 10  # Maximo de iteraÃ§Ãµes

glass_perceptron = Perceptron(max_it, alpha, X, D_glass, n)
glass_perceptron.start_training()

[array([-0.161411, -1.373   , -1.29    ,  0.502   , -6.306   ,  1.7     ,
       -4.182   ,  1.023   ,  0.      ]), array([-0.161411, -1.373   , -1.29    ,  0.502   , -6.306   ,  1.7     ,
       -4.182   ,  1.023   ,  0.      ]), array([-0.161411, -1.373   , -1.29    ,  0.502   , -6.306   ,  1.7     ,
       -4.182   ,  1.023   ,  0.      ]), array([-0.161411, -1.373   , -1.29    ,  0.502   , -6.306   ,  1.7     ,
       -4.182   ,  1.023   ,  0.      ]), array([-0.161411, -1.373   , -1.29    ,  0.502   , -6.306   ,  1.7     ,
       -4.182   ,  1.023   ,  0.      ]), array([-0.0097,  0.05  , -1.29  ,  0.71  ,  1.03  ,  1.7   , -3.32  ,
        1.19  ,  0.    ])]